# Project dependencies
.cache
.idea
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# testing
/coverage

# production
/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env.development
.env.production

#amplify
amplify/\#current-cloud-backend
amplify/.config
amplify/backend/amplify-meta.json
aws-exports.js
awsconfiguration.json
.amplifyrc