# Project dependencies
.cache
.idea
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

#awsmobilejs
appsync-info.json
aws-info.json
project-info.json
src/aws-exports.*
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/
awsmobilejs

# testing
/coverage

# production
/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*


