.home-page-image {
    width: 100%;
    height: 100%;
    filter: saturate(80%);
    z-index: -1;
}

.home-page-image::before {
    position: absolute;
    content: '';
    height: 300px;
    width: 100%;
    background: linear-gradient(
        360deg,
        rgba(255, 255, 255, 0.001),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 1)
    );
    pointer-events: none;
    z-index: 1;
}

.home-page-image::after {
    position: absolute;
    content: '';
    bottom: 0;
    height: 100%;
    width: 60%;
    transform: skew(-25deg) translateX(-300px);
    filter: opacity(0.6);
    background: rgba(255, 255, 255, 0.45);
    pointer-events: none;
    z-index: 1;
}

.box-score-group {
    position: absolute;
    display: flex;
    height: 150px;
    width: 950px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.admin-page,
.stats-page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0 5.0875rem 1.45rem;
    box-sizing: border-box;
}

.admin-page-success {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.admin-page-success > h3 {
    text-align: center;
    margin-top: 1rem;
}

.stats-page {
    padding: 1.45rem 3.5rem;
}

.stats-section {
    display: flex;
    justify-content: space-between;
}

.player-preview {
    min-width: 200px;
    width: 270px;
    height: 500px;
    padding: 1rem;
    text-align: center;
    border: 1px solid red;
}