.home-page-layout {
    position: static;
    margin: 0 auto;
    max-width: 1170px;
    min-height: 0;
    min-width: 0;
    background: transparent;
    padding: 1.45rem 1.0875rem;
}

.home-page-image {
    width: 100%;
    height: 100%;
    filter: saturate(80%);
    z-index: -1;
}

.home-page-image::before {
    position: absolute;
    content: '';
    height: 300px;
    width: 100%;
    background: linear-gradient(
        360deg,
        rgba(255, 255, 255, 0.001),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 1)
    );
    pointer-events: none;
    z-index: 1;
}

.home-page-image::after {
    position: absolute;
    content: '';
    bottom: 0;
    height: 100%;
    width: 60%;
    filter: opacity(0.6);
    background: rgba(255, 255, 255, 0.45);
    pointer-events: none;
    transition: transform 500ms opacity 500ms;
    transform: skew(-25deg) translate3d(-300px, 0, 0);
    animation: overlaySlideIn 400ms cubic-bezier(0,.91,.49,.99);
    z-index: 1;
}

@keyframes overlaySlideIn {
    0% {
        opacity: 0;
        transform: translate3d(-1000px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: skew(-25deg) translate3d(-300px, 0, 0);
    }
}

.stats-page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0 5.0875rem 1.45rem;
    box-sizing: border-box;
}

.leader-board-page,
.admin-page {
    display: grid;
    box-sizing: border-box;
}

.leader-board-page {
    grid-template-columns: repeat(4, 25%);
    grid-gap: 4rem;
    justify-content: center;
    width: 100%;
    min-width: 1170px;
    max-width: 1250px;
    margin: var(--margin-7) 0;
}

.admin-page {
    grid-template-columns: 15% 65% 1fr;
    grid-gap: var(--pad-3);
    align-items: flex-start;
    max-width: 100%;
    padding: var(--pad-3);
    background: linear-gradient(#f5f5f5, #e2ebf0);
}

.admin-page-column {
    display: grid;
    grid-column: 1;
    row-gap: var(--pad-3);
}

.admin-page-success {
    width: 500px;
    max-width: 90vw;
    margin: 0 auto;
}

.admin-page-success > h3 {
    text-align: center;
    margin-top: var(--margin-3);
}

.player-name {
    color: var(--muNavy);
    padding: var(--pad-1) 0;
}

.photo-credit {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: var(--margin-3) 3rem;
    color: var(--white-1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: calc(5px + 0.4vmin);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes addDots {
    0% {
        content: '.';
    }

    50% {
        content: '..';
    }
    100% {
        content: '...';
    }
}
