:root {
    --muNavy: #243b55;
    --muNavy-2: #141e30;
    --muRed: #c43045;
    --muBlue-1: #1890ff;
    --muBlue-2: #2d72d9;
    --background-color: #ffffff;
    --border-color: #ffcccc;
    --pad-0: 0.25rem;
    --pad-1: 0.5rem;
    --pad-2: 0.75rem;
    --pad-3: 1rem;
    --pad-4: 1.25rem;
    --pad-5: 1.5rem;
    --pad-6: 1.75rem;
    --pad-7: 2rem;
    --margin-0: 0.25rem;
    --margin-1: 0.5rem;
    --margin-2: 0.75rem;
    --margin-3: 1rem;
    --margin-5: 1.5rem;
    --margin-6: 1.75rem;
    --margin-7: 2rem;
    --grey-0: #f5f5f5;
    --grey-1: #d1d1d1;
    --grey-2: #bebbbb;
    --grey-3: #555555;
    --grey-4: #3a3a3a;
    --grey-5: #393939;
    --white-1: #ffffff;
    --white-2: #ededed;
    --blue-0: rgba(0, 220, 255, 0.3);
    --blue-1: #00dcff;
    --blue-2: #00bdff;
    --blue-3: #1890ff;
    --blue-4: #137bc2;
    --skew-10: skew(-10deg);
    --skew-25: skew(-25deg);
    --shadow-1: 0px 0px 20px -15px #243b55;
    --font-xsmall: calc(0.4rem + 0.3vmin);
    --font-small: calc(0.4rem + 0.4vmin);
    --font-medium: calc(0.45rem + 0.4vmin);
    --font-large: calc(0.5rem + 0.4vmin);
    --font-xlarge: calc(0.5rem + 0.5vmin);
}

@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/shrikhand/v4/a8IbNovtLWfR7T7bMJwrGIKR8Ttcte1q.woff2)
        format('woff2');
}

.box-score,
.box-score-heading,
.filter-bar-label-reset-container,
.filter-row,
.filter-row-section,
.filter-types-group,
.game-menu-title-section,
.header,
.icon-group,
.leader-board,
.leader-stat-title,
.nav-links,
.admin-section,
.team-transfer-box-count,
.team-transfer-list,
.team-transfer-header,
.team-transfer-operations,
.team-transfer-sort-operations,
.team-transfer-title,
.player-info-card,
.player-info-card-group,
.player-info-card-questions-group,
.player-info-card-questions-list,
.player-info-card-bio {
    display: flex;
    box-sizing: border-box;
}

/* HEADER */
.header {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: var(--pad-1) 3rem;
    max-width: 100%;
    overflow: hidden;
}

.header-title {
    font-family: 'Shrikhand';
    font-size: calc(0.8rem + 2vmin);
    letter-spacing: 1px;
}

.sub-header {
    color: var(--grey-5);
    font-size: calc(0.4rem + 0.2vmin);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo-group {
    position: fixed;
    top: var(--pad-1);
    left: 3rem;
}

.site-title {
    color: var(--muRed);
    text-decoration: none;
    filter: drop-shadow(0.1rem 0.1rem var(--grey-1));
}

.nav-links {
    justify-content: space-between;
    height: 100%;
    width: 170px;
    max-width: 250px;
    margin-top: var(--margin-3);
    font-size: var(--font-large);
}

.nav-link {
    display: inline-block;
    padding: 2px 0.5rem;
    color: var(--grey-3);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: var(--skew-10) translateX(0.5rem);
    transition: color 200ms, background 200ms;
}

/* .nav-link:hover {
    color: var(--white-1);
    background: var(--muNavy);
} */

.site-title:hover {
    color: var(--muRed);
}

.icon-group {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
    margin-left: auto;
    padding: 0.6rem 0;
    width: 100%;
    height: 20px;
    transform: translateX(1rem);
}

.icon-link {
    position: absolute;
    line-height: normal;
}
/**********************/

/*** HOME PAGE BOX SCORE & JOIN US ***/
.join-us,
.box-score {
    position: relative;
    bottom: 0;
    right: 0;
}

.join-us {
    order: 1;
    align-self: flex-end;
    height: calc(65px + 1vmin);
    width: 260px;
    padding: var(--pad-2) var(--pad-5);
    padding-left: 4.5rem;
    background: linear-gradient(to top, var(--muRed), #962737);
    color: var(--white-2);
    overflow: hidden;
    box-sizing: border-box;
}

.join-us-title {
    display: inline-block;
    color: var(--white-2);
    font-size: var(--font-xsmall);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    transform: var(--skew-10);
}

.join-us-title:hover {
    color: var(--white-2);
}

.box-score {
    order: 0;
    flex-direction: column;
    width: calc(200px + 3vmin);
    right: -65px;
    background: var(--white-2);
    transform: var(--skew-25);
    box-sizing: border-box;
}

.box-score-heading {
    flex-direction: column;
    background: var(--grey-0);
    height: 40px;
    width: 100%;
    padding: var(--pad-1) var(--pad-3);
    line-height: normal;
}

.box-score-title,
.box-score-results,
.box-score-date {
    color: var(--grey-3);
    transform: skew(25deg);
}

.box-score-title {
    font-size: var(--font-small);
    text-transform: uppercase;
}

.box-score-date {
    font-size: var(--font-xsmall);
    color: var(--grey-2);
}

.box-score-results-group {
    padding: var(--pad-2) var(--pad-2);
}

.box-score-results {
    display: grid;
    grid-template-columns: 25px 70% 1fr;
    align-items: center;
    font-size: calc(0.5rem + 0.3vmin);
}

.box-score-total {
    font-weight: bold;
}
/**********************/

/* STATS TABLE */
.stats-table {
    margin-bottom: var(--margin-7);
}

.stat-header-cell {
    color: var(--white-1);
    text-align: center;
    letter-spacing: 1px;
}

.stat-cell {
    margin: auto 0;
    color: var(--grey-3);
    text-align: center;
}

.stat-cell:focus {
    outline: none;
}

.stats-legend-list {
    list-style: none;
    margin: 3rem 0;
    padding: var(--pad-3);
    background: var(--white-1);
    box-shadow: var(--shadow-1);
    border-radius: 2px;
    line-height: normal;
}

.stats-legend-list-item {
    display: grid;
    grid-template-columns: 70% 30%;
    color: var(--grey-3);
    font-size: var(--font-xsmall);
}

.stats-legend-list-item:not(:last-child) {
    border-bottom: 1px solid var(--grey-0);
    padding-bottom: var(--pad-2);
    margin-bottom: var(--margin-2);
}

.stats-legend-basic {
    margin: 0 0 var(--margin-1);
    font-size: calc(5px + 0.4vmin);
    text-transform: uppercase;
}

.stats-legend-detail,
.stats-legend-formula {
    display: block;
    margin: var(--margin-1);
    color: var(--grey-2);
}

.stats-legend-formula {
    font-style: italic;
}

/* ADMIN PAGE */
.admin-section {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 15%;
    padding: var(--pad-3);
    background: var(--white-1);
    border-radius: 5px;
    white-space: nowrap;
}

.admin-section-title {
    color: var(--grey-2);
    font-weight: bold;
    margin-bottom: var(--margin-3);
}

.submit-button {
    text-align: right;
}

.game-menu-item {
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
}

.game-menu-title-section {
    justify-content: space-between;
}

.game-menu-title {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: var(--margin-1);
}

.game-menu-date {
    font-size: 0.65rem;
    color: var(--grey-3);
}

.game-menu-close-icon {
    margin-left: var(--margin-0);
    font-size: 0.7rem;
    color: var(--grey-1);
}
/**********************/

/* LEADER BOARD & LEADER CARD */
.leader-board {
    flex-wrap: wrap;
}

.leader-card {
    width: 250px;
    height: 330px;
    margin: var(--margin-3);
    border: 1px solid cornflowerblue;
    border-radius: 3px;
    list-style: none;
    box-sizing: border-box;
}

.leader-stat-title {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    margin: 0;
    line-height: 1;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

.leader-stat-title > span {
    margin-right: 0.5rem;
}

.leader-card-item {
    display: grid;
    grid-template-columns: 70% 1fr;
    align-items: center;
    padding: var(--pad-3);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 50px;
    margin: 0;
    overflow: hidden;
    line-height: normal;
    box-sizing: border-box;
}

.leader-card-item:nth-child(2) {
    align-items: flex-start;
    align-content: flex-start;
    grid-template-columns: 40px 1fr 40px;
    grid-gap: var(--pad-3);
    height: 100px;
    font-size: 1rem;
    font-weight: bold;
    overflow-wrap: break-word;
}

.leader-card-item:last-child {
    border-bottom: none;
}

.leader-card-item:nth-child(odd) {
    background-color: aliceblue;
}

.leader-avatar {
    border: 1px solid chartreuse;
    width: 40px;
    height: 40px;
    margin: 0;
}

.leader-card-stat {
    text-align: right;
}
/**********************/

/*** SORT TEAMS - TEAM TRANSFER, TRANSFER BOX, TRANSFER LIST ITEM ***/
.team-transfer-box-container {
    position: relative;
    display: grid;
    grid-template-columns: 45% 1fr 45%;
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--margin-3);
    box-sizing: border-box;
}

.team-transfer-list {
    position: relative;
    flex: 0 0 auto;
    flex-direction: column;
    min-width: 250px;
    height: 26.25rem;
    background-color: var(--white-1);
    box-shadow: var(--shadow-1);
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.team-transfer-list-items {
    position: relative;
    flex: 1;
    overflow: auto;
    outline: none;
}

.team-transfer-list-item {
    padding: var(--pad-1);
    cursor: pointer;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    outline: none;
}

.team-transfer-list-item:not(.team-transfer-list-item-focused):hover {
    background-color: var(--blue-0);
}

.team-transfer-list-item:nth-last-child(1) {
    border-top: 1px solid var(--grey-1);
}

.team-transfer-list-item:nth-last-child(1):hover {
    background-color: var(--white-1);
}

.team-transfer-list-item-focused {
    background-color: var(--blue-3);
    color: var(--white-2);
}

.team-transfer-list-item-name {
    font-size: var(--font-large);
}

.team-transfer-add-player {
    font-size: var(--font-large);
    font-style: italic;
    color: var(--grey-2);
}

.team-transfer-header {
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-0) var(--pad-2);
    background-color: var(--muBlue-2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    color: var(--white-1);
    font-weight: bold;
}

.team-transfer-title {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-small);
}

.team-transfer-box-count {
    font-size: var(--font-small);
    font-style: italic;
    font-weight: normal;
}

.team-transfer-operations {
    flex-direction: column;
    align-items: center;
    margin: auto var(--margin-3);
}

.team-transfer-operations > *:not(:last-child),
.team-transfer-sort-operations > *:not(:last-child) {
    margin-bottom: var(--margin-3);
}

.team-transfer-sort-operations {
    position: absolute;
    flex-direction: column;
    top: calc(21.5rem / 2);
    right: 0;
    margin: auto var(--margin-3);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.team-transfer-list:hover .team-transfer-sort-operations {
    opacity: 1;
}

.add-player-input {
    border: 0;
    width: 100%;
}
/**********************/

/**** FILTER BAR ****/
.filter-row {
    justify-content: space-between;
    background-color: var(--white-1);
    padding: var(--pad-1) 3rem;
    border-bottom: 1px solid var(--grey-1);
}

.filter-row-section,
.filter-types-group,
.filter-bar-label-reset-container {
    align-items: center;
}

.filter-row-section {
    flex: 1 0 auto;
}

.filter-type {
    margin-right: var(--margin-5);
}

.filter-bar-label-reset,
.filter-bar-label-types {
    font-size: var(--font-small);
    color: var(--grey-2);
    transition: color 200ms ease-in-out, transform 200ms;
}

.filter-bar-label-reset,
.filter-bar-label-types {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filter-bar-label-active {
    font-size: var(--font-xlarge);
    font-weight: bold;
    color: var(--grey-3);
}

.filter-bar-label-active:hover {
    cursor: pointer;
}

.filter-types-group,
.filter-bar-label-reset-container {
    min-height: 21px;
    border-right: 1px solid var(--grey-0);
}

.filter-bar-label-reset {
    margin: 0 var(--margin-5);
}

.filter-bar-label-types:hover,
.filter-bar-label-reset:hover {
    color: var(--muNavy);
    transform: scale(1.1);
    cursor: pointer;
}

.filter-bar-label-name {
    margin-right: var(--margin-0);
}

.filter-menu-item:hover > .filter-menu-item-label {
    color: var(--muNavy);
}

.filter-menu-all-label {
    font-style: italic;
    font-size: 0.6rem;
    color: var(--grey-3);
}

.filter-menu-item-label {
    font-size: var(--font-xlarge);
    color: var(--grey-2);
    transition: color 200ms ease-in-out;
}
/**********************/

/**** PLAYER PAGE ****/
.player-page-section {
    margin: var(--margin-3) 0 0;
}

.player-page-section-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--grey-2);
    margin: var(--margin-3) 0;
}

.player-info-card {
    justify-content: space-between;
    width: 1155px;
    height: 250px;
    padding: var(--pad-3);
    background: var(--white-1);
    box-shadow: var(--shadow-1);
    border-radius: 2px;
}

.player-info-card-questions-group {
    flex: 0 0 420px;
    padding: 0;
    padding-left: 1.5rem;
    border-left: 1px solid var(--grey-2);
    overflow: -moz-scrollbars-none;
    overflow: auto;
    -ms-overflow-style: none;
}

.player-info-card-questions-group::-webkit-scrollbar {
    width: 0;
}

.player-info-card-questions-list {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.player-info-card-question-group + .player-info-card-question-group {
    margin: 5px 0;
}

.player-info-card-bio {
    flex-direction: column;
    padding: 0 var(--margin-5);
}

.player-info-photo {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
}

.player-info-name,
.player-info-title {
    font-size: 2rem;
    line-height: normal;
}

.player-info-name {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.player-info-title {
    font-family: 'Shrikhand';
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: var(--grey-2);
}

.player-info-card-question {
    color: var(--grey-2);
    font-size: var(--font-xsmall);
    text-transform: uppercase;
}

.player-info-card-answer {
    font-size: var(--font-small);
}
/**********************/