:root {
    --primary-color: #1890ff;
}

/* HEADER */
.header-container {
    background-color: rebeccapurple;
    margin-bottom: 1.45rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 6.0875rem;
    max-width: 100%;
    padding: 1.45rem 1.0875rem;
}

.header-h1 {
    margin: 0;
}

.site-title {
    color: white;
    text-decoration: none;
}

/* ADMIN FORM */
.admin-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.team-transfer-box {
    position: relative;
    width: 100%;
    margin-top: 1.45rem;
}

.set-teams {
    position: absolute;
    display: inline-block;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
    transition: color 150ms ease-in-out;
}

.set-teams:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.admin-stats-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 3rem;
}

.stats-table {
    margin-bottom: 3rem;
}

.stat-cell {
    height: 100%;
}

.stat-cell:focus {
    outline: none;
}

.submit-button {
    text-align: right;
}

.side-menu-name {
    font-size: 0.8rem;
    line-height: 1.5;
}

.side-menu-text {
    font-size: 0.8rem;
    white-space: nowrap;
}
