:root {
    --muNavy: #243b55;
    --muNavy-2: #141e30;
    --muRed: #c43045;
    --pblue-4: #1890ff;
    --background-color: #ffffff;
    --border-color: #ffcccc;
    --pad-0: 0.25rem;
    --pad-1: 0.5rem;
    --pad-2: 0.75rem;
    --pad-3: 1rem;
    --pad-4: 1.25rem;
    --pad-5: 1.5rem;
    --margin-0: 0.25rem;
    --margin-1: 0.5rem;
    --margin-2: 0.75rem;
    --margin-3: 1rem;
    --margin-5: 1.5rem;
    --grey-1: #d1d1d1;
    --grey-2: #bebbbb;
    --grey-3: #555555;
    --grey-4: #3a3a3a;
    --grey-5: #393939;
    --white-1: #ffffff;
    --white-2: #ededed;
    --blue-0: rgba(0, 220, 255, 0.3);
    --blue-1: #00dcff;
    --blue-2: #00bdff;
    --blue-3: #1890ff;
    --blue-4: #137bc2;
    --skew-10: skew(-10deg);
    --skew-25: skew(-25deg);
}

@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/shrikhand/v4/a8IbNovtLWfR7T7bMJwrGIKR8Ttcte1q.woff2)
        format('woff2');
}

.header,
.nav-links,
.admin-form,
.admin-stats-table,
.box-score,
.game-menu-title-section,
.icon-group,
.leader-board,
.leader-stat-title,
.team-transfer,
.team-transfer-box-container,
.team-transfer-box-count,
.team-transfer-list,
.team-transfer-header,
.team-transfer-item-name,
.team-transfer-operations,
.player-info-card,
.player-info-card-section {
    display: flex;
    box-sizing: border-box;
}

/* HEADER */
.header {
    align-items: center;
    justify-content: space-between;
    padding: var(--pad-3) 3rem;
    max-width: 100%;
}

.header-themed {
    background: var(--muNavy-2); /* fallback for old browsers */
    background: linear-gradient(to right, var(--muNavy), var(--muNavy-2));
    box-shadow: 0 -25px 20px 14px var(--muNavy);
}

.header-title {
    margin: 0;
    font-family: 'Shrikhand';
    font-size: calc(0.8rem + 2vmin);
    letter-spacing: 1px;
}

.header-title-themed {
    background: linear-gradient(var(--muRed), var(--muNavy));
    -webkit-text-stroke: 0.01px var(--white-1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.sub-header {
    margin-bottom: 0;
    color: var(--grey-5);
    font-size: calc(0.5rem + 0.2vmin);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sub-header-themed {
    color: var(--white-1);
}

.nav-link,
.site-title {
    color: var(--muRed);
    text-decoration: none;
}

.site-title {
    filter: drop-shadow(0.1rem 0.1rem var(--grey-1));
}

.nav-link-themed {
    color: var(--white-1);
}

.nav-links {
    justify-content: space-between;
    height: 100%;
    width: 200px;
    max-width: 250px;
    font-size: calc(0.5rem + 0.4vmin);
}

.nav-link {
    display: inline-block;
    padding: 2px 8px;
    font-weight: bold;
    text-transform: uppercase;
    transform: var(--skew-10);
    transition: color 200ms, background 200ms;
}

.nav-link:hover {
    color: var(--white-1);
    background: var(--muRed);
}

.nav-link-themed:hover {
    background: var(--muRed);
}

.site-title:hover {
    color: var(--muRed);
}

.icon-group {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
    margin-left: auto;
    padding: 8px 0;
    width: 100%;
    height: 20px;
}

.icon-link {
    position: absolute;
    line-height: normal;
}
/**********************/

/*** HOME PAGE BOX SCORE & JOIN US ***/
.join-us,
.box-score {
    position: relative;
    padding: var(--pad-1) var(--pad-5);
    bottom: 0;
    right: 0;
}

.join-us {
    order: 1;
    align-self: flex-end;
    height: calc(65px + 0.4vmin);
    width: 260px;
    padding-left: 4.5rem;
    background: linear-gradient(to top, var(--muRed), #962737);
    color: var(--white-2);
    overflow: hidden;
    box-sizing: border-box;
}

.join-us-title {
    font-size: calc(0.7rem + 0.4vmin);
    text-transform: uppercase;
    line-height: 1.5;
    transform: var(--skew-10) translateY(4px);
}

.box-score {
    order: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    right: -65px;
    border-top: 10px solid var(--muNavy);
    background: var(--white-2);
    transform: var(--skew-25);
    box-sizing: border-box;
}

.box-score-results-group {
    margin-top: 0.5rem;
}

.box-score-title,
.box-score-results,
.box-score-date {
    color: var(--grey-3);
    transform: skew(25deg);
}

.box-score-title {
    font-size: calc(0.5rem + 0.5vmin);
    margin-bottom: 0;
}

.box-score-date {
    font-size: calc(0.5rem + 0.3vmin);
    color: var(--grey-2);
}

.box-score-results-group {
    margin-top: 0.5rem;
}

.box-score-results {
    display: grid;
    grid-template-columns: 90% 1fr;
    font-size: calc(0.5rem + 0.3vmin);
}

.box-score-total {
    font-weight: bold;
}
/**********************/

/* ADMIN FORM */
.admin-form {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.admin-stats-table {
    flex-direction: column;
    width: 100%;
    margin-top: var(--margin-5);
}

.stats-table {
    margin-bottom: 3rem;
}

.stat-cell {
    height: 100%;
}

.stat-cell:focus {
    outline: none;
}

.submit-button {
    text-align: right;
}

.game-menu-item {
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
}

.game-menu-title-section {
    justify-content: space-between;
}

.game-menu-title {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: var(--margin-1);
}

.game-menu-date {
    font-size: 0.65rem;
    color: var(--grey-3);
}

.game-menu-close-icon {
    margin-left: var(--margin-0);
    font-size: 0.7rem;
    color: var(--grey-1);
}
/**********************/

/* LEADER BOARD & LEADER CARD */
.leader-board {
    flex-wrap: wrap;
}

.leader-card {
    width: 250px;
    height: 330px;
    margin: var(--margin-3);
    border: 1px solid cornflowerblue;
    border-radius: 3px;
    list-style: none;
    box-sizing: border-box;
}

.leader-stat-title {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    margin: 0;
    line-height: 1;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

.leader-stat-title > span {
    margin-right: 0.5rem;
}

.leader-card-item {
    display: grid;
    grid-template-columns: 70% 1fr;
    align-items: center;
    padding: var(--pad-3);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 50px;
    margin: 0;
    overflow: hidden;
    line-height: normal;
    box-sizing: border-box;
}

.leader-card-item:nth-child(2) {
    align-items: flex-start;
    align-content: flex-start;
    grid-template-columns: 40px 1fr 40px;
    grid-gap: var(--pad-3);
    height: 100px;
    font-size: 1rem;
    font-weight: bold;
    overflow-wrap: break-word;
}

.leader-card-item:last-child {
    border-bottom: none;
}

.leader-card-item:nth-child(odd) {
    background-color: aliceblue;
}

.leader-avatar {
    border: 1px solid chartreuse;
    width: 40px;
    height: 40px;
    margin: 0;
}

.leader-card-stat {
    text-align: right;
}
/**********************/

/*** SORT TEAMS - TEAM TRANSFER, TRANSFER BOX, TRANSFER LIST ITEM ***/
.set-teams-btn {
    position: absolute;
    display: inline-block;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
    transition: color 150ms ease-in-out;
}

.set-teams-btn:hover {
    color: var(--blue-3);
    cursor: pointer;
}

.team-transfer {
    flex-direction: column;
    white-space: nowrap;
}

.team-transfer-box-container {
    position: relative;
    margin: var(--margin-5) 0;
}

.team-transfer-box {
    background-color: var(--background-color);
    color: var(--blue-3);
}

.team-transfer-list {
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 26.25rem;
    border: 1px solid var(--border-color);
}

.team-transfer-list-items {
    position: relative;
    flex: 1;
    overflow: auto;
    outline: none;
}

.team-transfer-list-item {
    padding: var(--pad-1);
    cursor: pointer;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    outline: none;
}

.team-transfer-list-item:not(.team-transfer-list-item-focused):hover {
    background-color: var(--blue-0);
}

.team-transfer-list-item-focused {
    background-color: var(--blue-3);
    color: var(--white-2);
}

.team-transfer-batting-order::after {
    content: '. ';
    position: relative;
    margin-right: var(--margin-0);
}

.team-transfer-header {
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-1) var(--pad-2);
    background-color: var(--grey-2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    color: var(--grey-5);
    font-weight: bold;
}

.team-transfer-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-transfer-box-count {
    font-style: italic;
    font-weight: normal;
}

.team-transfer-operations {
    flex-direction: column;
    margin: auto var(--margin-3);
}

.team-transfer-operations > *:not(:last-child),
.team-transfer-sort-operations > *:not(:last-child) {
    margin-bottom: var(--margin-3);
}

.team-transfer-sort-operations {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: calc(21.5rem / 2);
    margin: auto var(--margin-3);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.team-transfer-list:hover .team-transfer-sort-operations {
    opacity: 1;
}
/**********************/

/**** FILTER BAR ****/
.filter-row {
    margin-bottom: 1.2rem;
}

.filter-bar-select {
    border: 1px solid red;
}

.filter-bar-select:first-child {
    border: 0;
}

.filter-bar-label,
.filter-bar-label-gender,
.filter-bar-label-reset,
.filter-bar-label-types {
    font-size: calc(0.4rem + 0.4vmin);
    color: var(--grey-2);
    transition: color 200ms ease-in-out, transform 200ms;
}

.filter-bar-label-gender {
    font-size: calc(0.5rem + 0.5vmin);
}

/* .filter-bar-label {
    min-width: 112px;
    font-size: calc(0.5rem + 0.4vmin);
    font-weight: bold;
    overflow-wrap: normal;
} */

.filter-bar-label,
.filter-bar-label-gender,
.filter-bar-label-reset,
.filter-bar-label-types {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filter-bar-label-active {
    font-size: calc(0.5rem + 0.5vmin);
    font-weight: bold;
    color: var(--muNavy);
}

.filter-bar-label-active:hover {
    cursor: pointer;
}

.filter-bar-label-types:hover,
.filter-bar-label-reset:hover,
.filter-bar-label-gender:hover {
    color: var(--muNavy);
    transform: scale(1.1);
    cursor: pointer;
}

.filter-bar-label-name {
    margin-right: var(--margin-0);
}

.filter-menu-item:hover > .filter-menu-item-label {
    color: var(--muNavy);
}

.filter-menu-all-label {
    font-style: italic;
    font-size: 0.6rem;
    color: var(--grey-3);
}

.filter-menu-item-label {
    font-size: calc(0.5rem + 0.5vmin);
    color: var(--grey-2);
    transition: color 200ms ease-in-out;
}
/**********************/

/**** PLAYER PAGE ****/
.player-page-section {
    margin: var(--margin-3) 0;
}

.player-page-section-title {
    font-weight: bold;
}

.player-info-card {
    width: 100%;
    height: 200px;
    padding: var(--pad-3);
    border: 1px solid red;
}

.player-info-card-section {
    flex-direction: column;
    padding: 0 var(--margin-5);
}

.player-info-list,
.player-info-list-item,
.player-info-name {
    margin: 0;
}

.player-info-list {
    list-style: none;
}

.player-info-name {
    font-size: 2rem;
}
/**********************/

/**** MEDIA QUERIES ****/
@media (max-width: 1450px) {
    .filter-row {
        justify-content: center;
    }
}
