.dots-container {
    margin: 50px auto 0;
    width: 100px;
    text-align: center;
}

.dots-container > div {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #333;
    border-radius: 100%;
    margin: 0 3px;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
    animation: bouncedelay 1.4s infinite ease-in-out both;
}

.dots-container .dots-1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.dots-container .dots-2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
