/* animation shorthand syntax does not work with css modules */
.loading-image {
    margin: var(--margin-3);
    will-change: transform, opacity;
    transform: rotate(0deg);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pulsateAndRotate;
    animation-timing-function: linear;
}

@keyframes pulsateAndRotate {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    50% {
        opacity: 0.2;
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: var(--margin-3);
    color: var(--grey-2);
    font-family: 'Shrikhand';
    font-size: calc(0.8rem + 2vmin);
    letter-spacing: 1px;
}

.loading-dots {
    will-change: transform, opacity;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: pulsateAndRotate;
    animation-timing-function: linear;
}

.loading-dots::before {
    content: ' ';
}

.dots-container {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.dots-container > div {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--grey-2);
    border-radius: 100%;
    margin: 0 3px;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
    animation: bouncedelay 1.4s infinite ease-in-out both;
}

.dots-container .dots-1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.dots-container .dots-2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
