.admin-section,
.game-menu,
.game-menu-section,
.potg-container,
.potg-col {
    display: flex;
    box-sizing: border-box;
}

/* ADMIN PAGE */
.admin-section {
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    min-width: 15%;
    padding: var(--pad-3);
    background: var(--white-1);
    border-radius: 5px;
    white-space: nowrap;
}

.admin-section-title {
    color: var(--grey-3);
    font-size: var(--font-large);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: var(--margin-2);
    padding-bottom: var(--pad-1);
    border-bottom: 1px solid var(--grey-0);
}

.game-details-section {
    position: relative;
    color: var(--grey-3);
    font-size: var(--font-large);
    white-space: pre-wrap;
    overflow: hidden;
}

.game-details-date {
    font-weight: bold;
}

.game-details-info {
    font-weight: bold;
}

.game-details-attended {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--grey-0);
}

.game-menu {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.game-menu-item {
    background-color: transparent;
    border-bottom: 1px solid var(--grey-0);
}

.game-menu-item + .game-menu-item {
    margin-top: var(--margin-1);
}

.game-menu-title {
    font-size: var(--font-small);
    font-weight: bold;
}

.game-menu-section {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-1) 0px;
    line-height: normal;
    transition: font 150ms ease-in, background-color 150ms ease-in;
}

.game-menu-section:hover {
    font-weight: bold;
    cursor: pointer;
}

.game-menu-section:first-child {
    padding-top: var(--pad-2);
    border-top: 1px solid var(--grey-0);
}

.game-menu-name {
    max-width: 80%;
    font-size: var(--font-medium);
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-menu-close-icon {
    margin-left: var(--margin-0);
    font-size: var(--font-xsmall);
    color: var(--grey-1);
}

.more-games .and-collapse-header {
    color: var(--muBlue-2);
}

.potg-container {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.potg-name {
    font-weight: bold;
    font-size: var(--font-heading-small);
}

.potg-stats {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 150px;
    width: 100%;
}

.potg-col {
    flex-direction: column;
    align-items: center;
}

.potg-stat-name {
    color: var(--grey-2);
    font-size: var(--font-xsmall);
    font-weight: bold;
}

.potg-stat {
    font-size: 1rem;
    font-weight: bold;
}
