.filter-reset-container,
.filter-row,
.filter-row-section,
.filter-types-group {
    display: flex;
    box-sizing: border-box;
}

.filter-row {
    justify-content: space-between;
    background: var(--white-1);
    padding: var(--pad-1) var(--pad-2);
    border-bottom: 1px solid var(--grey-1);
}

.filter-row-section,
.filter-types-group,
.filter-reset-container {
    align-items: center;
}

.filter-row-section {
    flex: 1 0 auto;
}

.filter-types-group,
.filter-reset-container {
    min-height: 21px;
    border-right: 1px solid var(--grey-0);
}

.filter-disabled {
    cursor: not-allowed;
}

.filter-reset,
.filter-labels {
    display: block;
    font-size: var(--font-small);
    color: var(--grey-2);
    transition: color 200ms ease-in-out, transform 200ms;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filter-type,
.filter-reset {
    margin: 0 var(--margin-5);
}

.filter-labels:hover,
.filter-reset:hover {
    color: var(--muNavy);
    transform: scale(1.1);
    cursor: pointer;
}

.filter-label {
    margin-right: var(--margin-0);
} 

.filter-label-active {
    font-size: var(--font-xlarge);
    font-weight: bold;
    color: var(--grey-3);
}

.filter-label-active:hover {
    cursor: pointer;
}

.filter-label-disabled {
    pointer-events: none;
}

.filter-menu-item:hover > .filter-menu-item-label {
    color: var(--muNavy);
}

.filter-menu-all-label {
    font-style: italic;
    font-size: 0.6rem;
    color: var(--grey-3);
}

.filter-menu-item-label {
    font-size: var(--font-xlarge);
    color: var(--grey-2);
    transition: color 200ms ease-in-out;
}